# Copy to .env or run ./scripts/init-compose-env.sh to generate a ready-to-use file.
COMPOSE_PROJECT_NAME=hashcrush
POSTGRES_DB=hashcrush
POSTGRES_USER=hashcrush
POSTGRES_PASSWORD=ChangeThisDatabasePassword123!
HASHCRUSH_SECRET_KEY=ChangeThisApplicationSecretToAStrongRandomValue123456
HASHCRUSH_DATA_ENCRYPTION_KEY=REPLACE_WITH_A_BASE64_URLSAFE_32_BYTE_KEY
HASHCRUSH_INITIAL_ADMIN_USERNAME=admin
HASHCRUSH_INITIAL_ADMIN_PASSWORD=ChangeThisAdminPassword123!
HASHCRUSH_WEB_PORT=8080
HASHCRUSH_SESSION_COOKIE_SECURE=0
