SQLAlchemy==1.4.27
Flask==3.0.2
Flask-WTF==1.2.2
email-validator==2.3.0
Flask-SQLAlchemy==3.0.5
mysql-connector-python==9.6.0
bcrypt-flask==1.0.2
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-APScheduler==1.13.1
WTForms-SQLAlchemy==0.4.2
packaging==26.0
