{% extends "layout.html"%}
{% block header %}
<br>
<h1>Domains</h1>
<br>
The following are domains currently configured in HashCrush. All jobs, passwords, and hashes are assigned to a single domain. Deleting a domain removes all associated data.
<br>
<br>
<br>
{% endblock header %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Control</th>
                  </tr>
                </thead>
                <tbody>
                    {% for domain in domains %}
                        <tr>
                            <td>{{ domain.name }}</td>
                            <td>
                                <button type="button" class="fa fa-info btn btn-info" data-toggle="modal" data-target="#infoModal{{domain.id}}" title=Info></button>
                                <a class="fa fa-pie-chart btn btn-warning" href="/analytics?domain_id={{domain.id}}" role="button" title=Analytics></a>
                                {% if current_user.admin %}
                                    <button type="button" class="fa fa-trash btn btn-danger" data-toggle="modal" data-target="#deleteModal{{domain.id}}" title=Delete></button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </article>
    {% for domain in domains %}
    <!-- InfoModal -->
    <div class="modal fade" id="infoModal{{domain.id}}" tabindex="-1" aria-labelledby="infoModal{{domain.id}}Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="infoModal{{domain.id}}Label">Info: {{domain.name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <table class="table">
                      <tbody>
                          <tr>
                            <th scope="row">Associated Jobs</th>
                            <td>
                                {% for job in jobs %}
                                    {% if job.domain_id == domain.id %}
                                        {{ job.name }} <br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">Associated Hashfiles</th>
                            <td>
                                {% for hashfile in hashfiles %}
                                    {% if hashfile.domain_id == domain.id %}
                                        {{ hashfile.name }} <br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                          </tr>
                      </tbody>
                  </table>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
            </div>
        </div>
        </div>
    </div>
    {% endfor %}
    {% for domain in domains %}
    {% if current_user.admin %}
        <!-- DeleteModal -->
        <div class="modal fade" id="deleteModal{{domain.id}}" tabindex="-1" aria-labelledby="deleteModal{{domain.id}}Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="deleteModal{{domain.id}}Label">Delete: {{domain.name}} ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                This will permanently delete the domain and any associated hashfiles and hashes. Are you sure you want to continue?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                <form action="{{ url_for('domains.domains_delete', domain_id=domain.id) }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
                </div>
            </div>
            </div>
        </div>
    {% endif %}
    {% endfor %}
{% endblock content %}
