{% extends "layout.html" %}
{% block header %}
<br>
<h1>Create a new Job</h1>
<br>
Provide the name of the job and select an existing shared domain.
<br>
<br>
<br>
{% endblock header %}
{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ jobsForm.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ jobsForm.name.label(class="form-control-label") }}

                {% if jobsForm.name.errors %}
                    {{ jobsForm.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in jobsForm.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ jobsForm.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ jobsForm.priority.label(class="form-control-label") }}
                {% if jobsForm.priority.errors %}
                    {{ jobsForm.priority(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in jobsForm.priority.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ jobsForm.priority(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ jobsForm.domain_id.label(class="form-control-label") }}
                {% if jobsForm.domain_id.errors %}
                    {{ jobsForm.domain_id(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in jobsForm.domain_id.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ jobsForm.domain_id(class="form-control form-control-lg") }}
                {% endif %}
                <small class="form-text text-muted">
                    Need a new domain? Ask an admin to create it from the Domains page.
                </small>
            </div>
        </fieldset>
        <div class="form-group">
            <a class="btn btn-danger" href="/jobs" role="button" title='Cancel'>Cancel</a>
            {{ jobsForm.submit(class="btn btn-primary pull-right")}}
        </div>
    </form>
</div>
{% endblock content %}
