{% extends "layout.html"%}
{% block header %}
<div class="hc-page-header">
    <h1>Local Check</h1>
    <p class="hc-page-intro">The following hashes are already cracked in HashCrush's Local database.</p>
</div>
{% endblock header %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Cipher Text</th>
                    <th scope="col">Plaintext</th>          
                  </tr>
                </thead>
                <tbody>
                    {% if cracked_hashfiles_hashes|length > 0%}
                        {% for entry in cracked_hashfiles_hashes %}
                            <tr>
                                <td>
                                    {% if entry[1].username %}
                                        {{entry[1].username | jinja_hex_decode}}
                                    {% else %}
                                        <i>None</i>
                                    {% endif %}
                                </td>

                                <td>{{entry[0].ciphertext | jinja_ciphertext_decode}}</td>
                                <td>
                                    {% if entry[0].plaintext %}
                                        {{entry[0].plaintext | jinja_hex_decode}}
                                    {% else %}
                                        <i>None</i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                            <tr>
                                <td>
                                    <i>none</i>
                                </td>
                                <td>
                                    <i>none</i>
                                </td>
                                <td>
                                    <i>none</i>
                                </td>
                            </tr>
                    {% endif %}
                </tbody>
              </table>
        </div>
    </article>
    <div class="hc-form-actions">
        <a class="btn btn-secondary" href="{{ url_for('jobs.jobs_assigned_hashfile', job_id=job.id) }}">Back</a>
        <div class="hc-form-actions-right">
            <a class="btn btn-primary" href="{{ url_for('jobs.jobs_list_tasks', job_id=job.id) }}" role="button">Next</a>
        </div>
    </div>
{% endblock content %}
