{% extends "layout.html" %}
{% block header %}
<div class="hc-page-header">
    <h1>Create a New Task Group</h1>
    <p class="hc-page-intro">Enter the name of the task group.</p>
</div>
{% endblock header %}
{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ taskGroupsForm.hidden_tag() }}
        <fieldset class="form-group">
           <div class="form-group">
                {{ taskGroupsForm.name.label(class="form-control-label") }}

                {% if taskGroupsForm.name.errors %}
                    {{ taskGroupsForm.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in taskGroupsForm.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ taskGroupsForm.name(class="form-control form-control-lg") }}
                {% endif %}
           </div> 
        </fieldset>
        <div class="hc-form-actions">
            <a class="btn btn-secondary" href="{{ url_for('task_groups.task_groups_list') }}">Back</a>
            <div class="hc-form-actions-right">
                {{ taskGroupsForm.submit(class="btn btn-primary")}}
            </div>
        </div>
    </form>
</div>
{% endblock content %}
