{% extends "layout.html"%}
{% block header %}
<div class="hc-page-header">
    <h1>Task Groups</h1>
    <p class="hc-page-intro">Task Groups are a set of tasks that can be assigned to a job.</p>
    {% if current_user.admin %}
    <div class="hc-page-actions">
        <a class="btn btn-success btn-sm" href="{{ url_for('task_groups.task_groups_add') }}">Add</a>
        <form class="hc-inline-form" action="{{ url_for('task_groups.task_groups_import') }}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input
                id="task-group-import-file"
                class="hc-file-input-hidden"
                type="file"
                name="import_file"
                accept=".json,application/json"
                required
                onchange="if (this.files.length) { this.form.submit(); }"
            >
            <button
                type="button"
                class="btn btn-secondary btn-sm"
                onclick="document.getElementById('task-group-import-file').click();"
            >
                Import JSON
            </button>
        </form>
        <a class="btn btn-secondary btn-sm" href="{{ url_for('task_groups.task_groups_export') }}">Export JSON</a>
    </div>
    {% else %}
    <p class="text-muted mb-0">Shared task groups are managed by admins. All users can view and assign them to jobs.</p>
    {% endif %}
</div>
{% endblock header %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Task Group Name</th>
                    <th scope="col">Control</th>
                  </tr>
                </thead>
                <tbody>
                    {% for task_group in task_groups %}
                        <tr>
                            <td>{{ task_group.name }}</td>
                            <td>
                                <button type="button" class="fa fa-info btn btn-info" data-toggle="modal" data-target="#infoModal{{task_group.id}}" title=Info></button>
                                {% if current_user.admin %}
                                <a class="fa fa-edit btn btn-warning" href="/task_groups/assigned_tasks/{{task_group.id}}" role="button" title=Edit></a>
                                <button type="button" class="fa fa-trash btn btn-danger" data-toggle="modal" data-target="#deleteModal{{task_group.id}}" title=Delete></button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </article>
    {% for task_group in task_groups %}
    <!-- Info Modal -->
    <div class="modal fade" id="infoModal{{task_group.id}}" tabindex="-1" aria-labelledby="infoModal{{task_group.id}}Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="infoModal{{task_group.id}}Label">Info: {{task_group.name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                      <tbody>
                          <tr>                              
                            <th scope="row">Associated Tasks</th>
                            <td>
                                {% for task_name in task_group_task_names.get(task_group.id, []) %}
                                    {{ task_name }} <br>
                                {% endfor %}
                                {% if not task_group_task_names.get(task_group.id) %}
                                    <i>none</i><br>
                                {% endif %}
                            </td>
                          </tr>
                      </tbody>
                  </table>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
    {% endfor %}
    {% if current_user.admin %}
        {% for task_group in task_groups %}
        <!-- Edit Modal -->
            <div class="modal fade" id="resetModal{{task_group.id}}" tabindex="-1" aria-labelledby="editModal{{task_group.id}}Label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="resetModal{{task_group.id}}Label">Edit task group: {{task_group.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    ...
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
        {% for task_group in task_groups %}
            <!-- DeleteModal -->
            <div class="modal fade" id="deleteModal{{task_group.id}}" tabindex="-1" aria-labelledby="deleteModal{{task_group.id}}Label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="deleteModal{{task_group.id}}Label">Delete: {{task_group.name}} ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    This will permanently delete the task group. Note, the associated tasks will not be removed, only the group. Are you sure you want to continue?
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                    <form action="{{ url_for('task_groups.task_groups_delete', task_group_id=task_group.id) }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}
